  <% if user_signed_in? %>
  <% if @project.user_id == current_user.id %>
 <% @project.tasks.order('completed DESC').order('priority DESC').each do |task| %>
    <% if task.persisted? %>
  
     
     <div class="task priority_<%= task.priority %> completed_<%= task.completed %> buffer-top" id="delete-task-<%=task.id %>">
      <span class="title"><%= task.title %></span> 
      
     
 
     
          <%= link_to  content_tag('span', '', class: 'fa fa-pencil'), '', class: 'edit-task-link action', data: {task_id: task.id} %>
          <%= link_to  content_tag('span', '', class: 'fa fa-trash'), project_task_path(@project, task), method: :delete, remote: true, class: 'delete-task-link action' %>
          <%= link_to  content_tag('span', '', class: 'fa fa-check-square-o'), complete_project_task_path(@project, task), method: :patch, remote: true, data: {task_id: task.id}, class: 'action done' %>
    
      
      
   </div>

      <%= form_for [@project, task], remote: true, html: {id: "edit-task-#{task.id}"} do |f| %>
                <%= f.label :title, "Изменить задачу" %>
                <%= f.text_field :title %>
                <%= f.label :priority %>
                <%= f.select :priority, Task::PRIORITIES %>
                <%= f.submit 'Сохранить'  %>
               
        <% end %>
      <% end %>
        
 
   <hr> 
  <% end %>

    <% end %>
      <% end %>
 
